.about-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.band-info {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.6);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title {
    margin-top: -4rem;
    padding-bottom: 1rem;
    font-size: clamp(0.75rem,4vmin,2rem);
    font-weight: bold;
}

.about-text {
    width: 50%;
    font-size: clamp(0.75rem,3vmin,1.25rem);
}

.band-images {
    width: 100%;
    height: 100%;
    overflow: hidden;
}