.header-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    position: relative;

    box-shadow: 0 0 15rem rgba(0,0,0,0.9) inset;
    z-index: 10;
}

.header-image {
    position: absolute;
    width: 100vw;
    background-image: url("../assets/header-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-logo {
    height: 80%;
    width: 100%;
    max-width: 70vw;
    max-height: 50vh;
    margin: auto;

    background-image: url("../assets/sf-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    filter: drop-shadow(0 0 5rem black);
}